.o_form_view .selferp_editable_report_container,
.selferp_editable_report_container.selferp_edit_container {

    td.J0200125_custom_td {
        .second_row {
            .full_bordered_block_value_container:first-child {
                width: 50%;

                .ub_value {
                    min-height: 40px;
                }
            }

            .full_bordered_block_value_container:last-child {
                .ub_value {
                    display: block;
                    min-height: 40px;
                    padding: 9px 0 !important;
                }
            }
        }
    }

}
